*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a25;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: #181823;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
  
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.choices {
    margin: 50px;
    text-align: center;
}

.choice {
    border: 4px solid, white;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
}

.choice:hover {
    cursor: pointer;
    background: red;
}

#action-msg {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

label {
    color: #ffffff;
    text-align: center;
}

input {
    text-align: center;
    padding: 12px 16px;
    background: #ffffff;
    border: 2px solid #dcdbdd;
    border-radius: 4px;
}

.center {
    display: block;
    margin: auto;
}

.resultLog {
    white-space: pre-wrap;
}